body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #61e285;

}

.container {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  background-color: #61e285;

}

.cards {
  display: flex;
  flex-wrap: wrap;
}


.card {
  display: flex;
  flex-direction: column;
  background-color: rgba(16, 71, 114, 0.1);
  box-shadow: 0 0 2rem #239c21;
  padding: 1rem;
  margin: 1rem;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 1rem;
  animation: fade-up 0.7s;

  &:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;

  }

  p {
    text-align: left;
    padding: 10px;
    font-size: 15px;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    padding: 10px;
    font-size: 20px;

    font-weight: 700;
  }

}

.bottonDelete {
  background-color: #8b45a0;
  border-radius: 1rem;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  &:hover {
    background-color: #d30b0b;
  }
}


.addButton {
  background-color: #8b45a0;
  border-radius: 1rem;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.cardCreate {
  display: flex;
  flex-direction: column;
  background-color: rgba(43, 112, 122, 0.1);
  box-shadow: 0 0 2rem #239c21;
  padding: 1rem;
  margin: 1rem;
  width: 300px;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 1rem;
  animation: fade-up 0.7s;
}

input {
  padding: 12px 20px;
  margin: 1rem 0.3rem;
  border-radius: 1rem;
}

textarea {
  padding: 12px 20px;
  margin: 1rem 0.3rem;
  border-radius: 1rem;
  width: 250px;
  height: 250px;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@media all and (max-width:900px) {
  .container {
    display: flex;
    flex-direction: column
  }
}

@media all and (max-width:600px) {
  .container {
    display: flex;
    flex-direction: column
  }
}